<h1>Team Formation App</h1>

<p>Hello <%= @user.full_name %>,</p>

<p>
Welcome to the Team Formation App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
