<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(url: search_course_student_path, method: "post", class: "form-inline") do |f|%>

            <%= f.text_field :pin, placeholder: "Enter Course Pin"%>
            <%= submit_tag("Add", class: "add-course-button") %>
           
        <% end %>
    </div>
</div>