<div class ='container' style="margin-top: 120px">
 <h2 style="text-align: center">Enter the course's PIN:</h2>
    <% search_course_path = @student.id.to_s+ "/search_course" %>
    <%= render 'add_form', search_course_student_path: search_course_path%>
    <br><br>
</div>
