<div class='view3'>
    <div class='container' id='signup-container' >
            <div class= 'signup-form'>
                <%= render 'form', student: @student %>
                <%= link_to 'Back to Home', root_path , id:"signup-back-path"%>
            </div>
        </div>
        
    </div> 
</div>