<div class='view3'>
    <div class='container' style="padding-top: 50px;" >
            <div class= 'signup-form' style="margin: auto; ">
                <%= render 'form', student: @student %>
                <%= link_to 'Back to Home', root_path , style:"float: right; margin-right: 20px"%>
            </div>
        </div>
        
    </div> 
</div>