<body>
        <div class='container_1'>
            <div class='main_text'>
                <h1>Welcome to Team-Formation</h1>
                <div class='row'>
                    <%= link_to "Student Sign In", students_path, class: 'btn btn-primary btn-lg custom1'%>
                    <%= link_to "Professor Sign In", professors_path, class:'btn btn-primary btn-lg custom2'%>
                </div>
            </div>   
        </div>
</body>
