<h1>Home Page</h1>
<!-- 
<table>
    <thead>
        <tr>
            <th> Course </th>
            <th> Students </th>
        <tr>
    </thead>

    <tbody>
    <% @courses.each do |course|%>
        <tr>
            <td> <%= link_to course.name, course %> </td>
            <% students = "" %>
            <% course.students.each do |student|%>
                <% students += student.firstname + " " + student.lastname + ", "%>
            <% end %>
            <td> <%= students %> </td>
        </tr>
    <% end %>
    </tbody>
</table>
-->