<body class='view1'>
    <div class="mask rgba-black-light align-items-center">
    <div class='container'>
        <div class='main_text'>
            <% if notice%>
                <div class="alert alert-info">
                    <%= notice %>
                </div>
            <%end %>
            <h1 class='main-title'>Welcome to Teamation</h1>
            <br>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <div class='signin-row'>
                <%= link_to "Student Sign In", "/student_login", class: 'btn btn-primary', id:"signin-button" %>
                <%= link_to "Professor Sign In", "/professor_login", class:'btn btn-outline-primary', id:"signin-button"%>
            </div>
        </div>   
    </div>
    </div>
</body>

