<div class='view3'>
    <div class='container' id='signup-container'>
            <div class='signup-form'>
                <h1 id="signup-title">Editing Account</h1>
                <%= render 'edit_form', professor: @professor %>
        </div>
        
    </div> 
</div>

