<div class='view3'>
    <div class='container' id='signup-container'>
            <div class='signup-form'>
                <%= render 'form', professor: @professor %>
            </div>
        </div>
        
    </div> 
</div>