@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css';
@import './bootstrap_custom.scss';
@import '@fullcalendar/bootstrap/main.css';


html,
body,
.view1, .view2, .view3{
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  .view1, .view2, .view3{
    height: 100vh;
  }
}


/* head */
.navbar-custom{
  background-color: rgb(0,52,120); 
}
#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
  
#logo:hover {
    color: lightgray;
    text-decoration: none;
  }

.nav-link{
  font-weight: bold;
}

.nav-link:hover{
    color: #fff;
    font-weight: bold;
}
/* body */
.view1{
    background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url('https://www.brandeis.edu/gsas/programs/images/computer-science.jpg') ;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* text */
.main-title{
    color: rgb(0,52,120);
    display: 3;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    padding-top: 250px;
}

#signin-button{
    border: 1.5px solid    rgb(0,52,120);
    font-weight: bold;
    font-size: 20px;
    color: rgb(0,52,120);
    width: 250px;
}


#signin-button:hover{
    //background-color:  #1fc2d9;
    color: #fff;
    background-color:    rgb(0,52,120);
    transition-delay: 0.1s;
}

/* login page */
.view2{
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url('https://www.brandeis.edu/admissions/images/images-dec-2017/2.linderpix-brandeis-4897.jpg') ;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-wrap{
  width: 500px;
  height: 500px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  border-radius: 10px;
  overflow: hidden;
  
}

.form-icon{
  color: darkgrey; 
  position: absolute; 
  z-index: 1; 
  padding: 10px; 
  padding-top:12px;
  float: right;
}

.btn-custom{
  border: 1.5px solid    rgb(0,52,120);
  font-weight: bold;
  color: rgb(0,52,120);
}
.btn-custom:hover{
  color: #fff;
  border: 1.5px solid    rgb(0,52,120);
  background-color:    rgb(0,52,120);
  transition-delay: 0.1s;
}

/* signup page */ 

.view3{
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url("https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/91626288_10157197866536167_2554622963995377664_o.jpg?_nc_cat=111&_nc_sid=8024bb&_nc_ohc=I3DW9yTOpOsAX9Pjd7F&_nc_ht=scontent-lga3-1.xx&oh=e8f038c73d2dbd399205c0814ed8884d&oe=5EA8C6A9") ;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* calendar */
.fc-today{
  background-color: inherit;
}

/* Student profile page */
.view4{
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url("https://images.forwardcdn.com/image/center/images/cropped/brandeis-university-admissions-night-1501010031.jpg") ;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  min-height: 1000px;
}

.profile-row{
  background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  height: 100%;
  min-height: 150px;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.courses-info-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.course-column-box{
  background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  box-sizing: border-box;
  width: 300px;
  height: 400px;
  margin:20px;
  margin-top: 0px;
  > h4 {
      font-size:bold;
  }
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.course-column-box:hover{
  box-shadow: 0px 4px 8px 0 rgb(77, 131, 203), 0px 6px 15px 0 rgb(77, 131, 203);
}


.course-name-row{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  display:flex;
  border-bottom: 1.5px solid   rgb(77, 131, 203);
  
}
.course-name-row:hover{
  .course-name-button{
    color: rgb(0,52,120);
  }
}
#course-name{
  left: 0px;
  right: 0px;
  width: 100%;
}

.course-name-button{
  color: rgb(77, 131, 203);
  font-weight: bold;
  font-size: 20px;
}

.course-drop-row{
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  display:flex;
  border-top: 1.5px solid   rgb(77, 131, 203);
}
.dropButton{
  color: rgb(77, 131, 203);
  border: 1.5px solid rgb(77, 131, 203); 
  border-radius: 100px;
  margin-right: 0px; 
  position: relative;
  left: 133px;
}


.addButton{
  color: rgb(77, 131, 203);
  border: 1.5px solid rgb(77, 131, 203);
  font-weight: bold;
}
.group-container{
  display: none;
  height: 200px; 
}

#member-table{
  max-width: 280px;
  font-size: 11px;
  border-collapse: collapse;
  td{
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
#member-table_info{
  display:none;
}
#member-table_paginate{
  margin-top: 0px;
  font-size: 10px;
}
