@import './bootstrap_custom.scss';
html,
body,
.view1, .view2, .view3 {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  .view1, .view2, .view3 {
    height: 100vh;
  }
}


/* head */
.navbar-custom{
  background-color: rgb(0,52,120); 
}
#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
  
#logo:hover {
    color: lightgray;
    text-decoration: none;
  }

.nav-link{
  font-weight: bold;
}

.nav-link:hover{
    color: #fff;
    font-weight: bold;
}
/* body */
.view1{
    background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url('https://www.brandeis.edu/gsas/programs/images/computer-science.jpg') ;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* text */
.main-title{
    color: rgb(0,52,120);
    display: 3;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    padding-top: 250px;
}

#signin-button{
    border: 1.5px solid    rgb(0,52,120);
    font-weight: bold;
    font-size: 20px;
    color: rgb(0,52,120);
    width: 250px;
}


#signin-button:hover{
    //background-color:  #1fc2d9;
    color: #fff;
    background-color:    rgb(0,52,120);
    transition-delay: 0.1s;
}

/* login page */
.view2{
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url('https://www.brandeis.edu/admissions/images/images-dec-2017/2.linderpix-brandeis-4897.jpg') ;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-wrap{
  width: 500px;
  height: 500px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  border-radius: 10px;
  overflow: hidden;
  
}

.form-icon{
  color: darkgrey; 
  position: absolute; 
  z-index: 1; 
  padding: 10px; 
  padding-top:12px;
  float: right;
}

.btn-custom{
  border: 1.5px solid    rgb(0,52,120);
  font-weight: bold;
  color: rgb(0,52,120);
}
.btn-custom:hover{
  color: #fff;
  border: 1.5px solid    rgb(0,52,120);
  background-color:    rgb(0,52,120);
  transition-delay: 0.1s;
}

/* signup page */ 

.view3{
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url("https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/91626288_10157197866536167_2554622963995377664_o.jpg?_nc_cat=111&_nc_sid=8024bb&_nc_ohc=I3DW9yTOpOsAX9Pjd7F&_nc_ht=scontent-lga3-1.xx&oh=e8f038c73d2dbd399205c0814ed8884d&oe=5EA8C6A9") ;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}