// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#course-info-box{
    background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    min-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    
  }
  
  #course-nav{
    .nav-link{
      color: rgb(77, 131, 203);
    }
    .nav-link:hover{
      color: white;
      background-color: #007bff;
    }
    .active{
      color: black;
    }
  }
  
  .students-container{
    margin-top: 10px;
  }
  
  #students-table{
    font-size: 14px;
  }

  .single-project-container:hover{
    .project-name{
      color: black;
    }
    text-decoration: none ;
  }
  
  #course-group-info-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
  }
  .course-group-box{
    background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    margin:20px;
    margin-top: 20px;
    margin-bottom: 0px;
    
    > h4 {
        font-size:bold;
    }
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

  }

  .projects-row{
    margin: 20px;
  }
  .projects-box{
    background: rgb(193, 213, 250);
    border-radius: 3px;
    min-height: 300px;
    white-space: normal;
    padding-bottom: 15px;
    display: flex;

  }
  #student-projects-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .single-project-container-stu{
    background: white; 
    border-radius: 3px;
    margin:5px;
    min-height: 30px;
    align-items: center;
    text-decoration: none;
    width: 350px;
    
  }

  .project-name{
    margin: 0px;
    padding-left: 15px;
  }

  .editbox-stu{
    padding: 0px;
    margin: 12px;
    margin-bottom: 0px;
    width: 170%;
    height: 50px;
  }
  .addProjectBtn-stu{
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    width: 170%;
    border: 1.5px solid rgb(193, 213, 250);
    font-weight: bold;
    color: rgb(141, 180, 252);
    
  }
  .addProjectBtn:hover{
    background-color:rgb(193, 213, 250) ;
    color: white;
  }

