<div class = "row" id="course-group-info-row" >
<% if @course.students.size==0 %>
    <h6>No Student Enrolled</h6>
<% elsif findGroup(@course.students[0], @course).nil? %>
    <h6>No Groups Created Yet</h6>
<% else %>
    <% @course.groups.where(active: true).each do |group| %>
        <div class="container course-group-box">
            <p> <%= group.project_name %> </p>                  
            <div>
                <% group_members = group.students%>
                <div class = "wrapper overflow course-group-container">
                    <table class = "table table-hover table-sm">
                        <thead>
                            <tr>
                                <th style='border-top: 0'>Name</th>
                                <th style='border-top: 0'>Email</th>
                                        
                            </tr>
                        </thead>
                        <tbody>
                            <% group_members.each do |stu| %>
                            <tr>
                                <td><%= stu.firstname + " " + stu.lastname%>
                                <td><%= stu.email%>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <%end%>
<%end%>
</div>