<a class = 'single-project-container-stu' >
    <div class='project-name'>
        <p >
            <%= group.project_name %>
        </p>
    </div>
    <div class='project-description'>
        <p><%= group.description%></p>
    </div>
</a>