<h1>Editing Course</h1>

<% if logged_in? %>
    <%= render 'form', course: @course %>
<% else %>
    <p> Please log in first <p>
<% end %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
