// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body{
    //padding-top: 30px;
    //linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)),
}
/*header*/ 
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 15px;
    font-weight: bold;
}
  
#logo:hover {
    color: #fff;
    text-decoration: none;
  }

/* body */

.container_1{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url('/assets/faculty-students-2.jpg') ;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
    

    .main_text{
        h1{
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 60px;
            font-weight: bold;
            line-height: 2;
            text-align: center;
            position: relative;
            margin: 40px;
            padding-top: 140px;
        }
        .row{
            text-align: center;
            .custom1{
                width: 250px !important;
                margin-right: 50px;
            }
            .custom2{
                width: 250px !important;
            }
            
        }
    }
}



